.searchCityInputContainer{
    margin-top: 75px;
    margin-bottom: 75px;
}

.welcomeQuote{
    color: #007bff;
    font-weight: 900;
    font-size: 300%;
    height: 10%;
    width: 100%;
    text-align: center;
    margin-top: 75px;
}

.homePageInfoDetails{
    color: #333;
    font-weight: 100;
    font-size: 130%;
    width: 70%;
    margin-top: 75px;
    text-align: center;
}

.homePageInfoDetails--dark{
    color: #bbbbbb;
}