.messageContainer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sadFaceImage{
    width: 250px;
    height: 250px;
    margin-top: 75px;
    margin-bottom: 50px;
}

.errorMessage{
    margin-top: 75px;
    color: #007bff;
    font-size: 150%;
    font-weight: 600;
    width: 70%;
    text-align: center;
}

.errorMessageDetails{
    margin-top: 25px;
    color: #333;
    font-weight: 100;
    font-size: 130%;
    width: 70%;
    text-align: center;
}

.routingButtonText{
    text-decoration: none; 
    color: inherit; 
}

.buttonContainer{
    margin-bottom: 75px;
    margin-top: 75px;
}