.myHeader {
    background-color: #007bff;
    color: #fff;
    width: 100%;
    height: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.headerContainer{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerItem{
    color: #fff;
    font-weight: 900;
    font-size: 300%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.myHeader--dark {
    background-color: #333333;
}

.headerItem--dark {
    color: #007bff;
}