.deleteButton {
    color: #007bff;
    background-color: #fff;
    padding: 10px 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #007bff;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 125%;
    font-weight: 100;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.deleteButton:hover {
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
    transform: scale(1.03);
}

.deleteButton--dark {
    background-color: #333333;
}

.deleteButton--dark:hover {
    color: #dddddd;
}

.trashCan{
    height: 25px;
    width: 22px;
}