.chartName{
    margin: 20px;
    font-size: 200%;
    font-weight: 900;
    color: #007bff;
    text-align: center;
}

.customLineChart{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}